<ng-container *ngIf="products && products.totalCount > 0; else noProduct">
  <p class="font-semibold text-sm pb-3">Showing {{pagingItemStart}} -
  {{pagingItemEnd}} of {{products.totalCount}} products</p>
<div class="grid grid-cols-3 gap-12 mb-5">
  <app-product-item *ngFor="let product of products.results" [product]="product"></app-product-item>
</div>

<p-paginator (onPageChange)="onPageChange($event)" [first]="1" [rows]="6"
[totalRecords]="products.totalCount"></p-paginator>
</ng-container>

<ng-template #noProduct>
  <p class="font-bold text-xl">No product available</p>
</ng-template>


